/* --HTML & BODY-- */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}


/* --HEADERS */

h1{
    font-size: 8em;
    font-weight: bold;
    margin: 0;
}
h2{
    font-size: 6em;
    font-weight: bold;
    margin: 0;
}
h3{
    font-size: 4em;
    font-weight: bold;
    margin: 0;
}
h4{
    font-size: 3em;
    font-weight: bold;
    margin: 0;
}
h5{
    font-size: 2em;
    font-weight: bold;
    margin: 0;
}
h6{
    font-size: 1.25em;
    font-weight: bold;
    margin: 0;
}


/* --NAVBAR-- */

#side-nav{
    display: flex;
    padding-top: 2rem;
    position: fixed;
    top: 0;

    height: 100dvh;
    /* width: 60px; */
    width: fit-content;
    min-width: 100px;

    background-color: black;
}

#side-nav-links{
    display: flex; 
    flex-direction: column; 
    width: auto;
}

#side-nav-links a{
    color: white; 
    text-decoration: none; 
    width: 100%;
    padding: 0.75rem;
    border: none;
    /* invisble border to keep formating for hover effect */
    border: 1px solid rgba(0, 0, 0, 0);
}
#side-nav-links a:hover{
    background-color: white; 
    color: black;
    border: 1px solid black;
    scale: 1.2;
}
#side-nav-links a.active {
    background-color: white; 
    color: black;
    border: 1px solid black;
    scale: 1.2;
}
#side-portfolio-links{
    display: flex; 
    flex-direction: column; 
    width: auto;
    margin-top: 5rem;
}


/* --CONTENT */

#content{
    margin-left: 120px;
    width: 100%;
}

.title-divs{
    margin-bottom: 4rem;
}

.content-sections{
    margin-bottom: 12rem;
    p{
        font-size: 25px;
    }
}

/* #portfolio-header{
    margin-bottom: 5rem;
    height: 15rem;
} */

/* --Projects-- */

/* #projects {
    margin-top: 5rem;
} */

.project{
    margin-bottom: 5rem;
}

.project-image{
    width: 400px;
    /* max-width: 600px; */
    margin-top: 1rem;
    /* margin-bottom: 1rem; */
}

.project-video{
    width: 40%;
    aspect-ratio: 16 / 9;
    margin-top: 1rem;
    /* margin-bottom: 1rem; */
}

.project-link{
    margin-bottom: 1rem;
}

/* --LIST-- */
ul {

    font-size: 20px;
    
    li {
        margin-bottom: 0.5rem;
    }
}

.underline-large {
    width: 55%;
    height: 5px;
    background-color: black;
    margin-top: 1rem;
    margin-bottom: 7rem;
}
.underline-small {
    width: 40%;
    height: 5px;
    background-color: black;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
/* --TABLE-- */

table {
    margin-top: 1rem;
    border-collapse: collapse;
    width: fit-content;
    
    td {
        padding: 0.5rem 1rem;
        border: 1px solid rgba(0, 0, 0, 0.1);
        font-size: 20px;
    }
    
    td:first-child {
        width: 200px;
        font-weight: bold;
    }
}

/* CONTACT */

#contact{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 2rem;

    margin-bottom: 8rem;

    p{
        font-size: 25px;
        margin: 0;
    }
}



/* FADE-IN ELEMENTS */

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(100px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeOut {
  from { opacity: 1; transform: translateY(0); }
  to { opacity: 0; transform: translateY(-100px); }
}

.fade-in {
  animation: fadeIn linear both;
  animation-timeline: view();
  animation-range: entry 0% entry 100%;
}

.fade-out {
  animation: fadeOut linear both;
  animation-timeline: view();
  animation-range: exit 0% exit 100%;
}

